@media screen and (max-width: 40em) {
  .slicknav_menu {
    display: block !important;
    background-color: #007dc6; }
    .slicknav_menu .slicknav_btn {
      background-color: #00588c;
      left: 43%;
      float: left; }
    .slicknav_menu .slicknav_nav ul {
      padding-left: 0;
      margin-left: 0; }
      .slicknav_menu .slicknav_nav ul li {
        padding: 10px;
        padding-left: 0;
        background-color: transparent;
        -webkit-transition: background-color, 0.2s;
        transition: background-color, 0.2s; }
        .slicknav_menu .slicknav_nav ul li a {
          font-family: 'Raleway', sans-serif;
          font-size: 1.1em;
          color: #3f3f3f;
          font-weight: 700;
          letter-spacing: 2px;
          color: #ffffff;
          text-transform: uppercase; }
          .slicknav_menu .slicknav_nav ul li a i {
            margin-right: 10px;
            width: 40px;
            color: #ffc220;
            font-size: 1.3em; }
          .slicknav_menu .slicknav_nav ul li a:hover, .slicknav_menu .slicknav_nav ul li a:active, .slicknav_menu .slicknav_nav ul li a:focus {
            text-decoration: none;
            background-color: transparent; }
        .slicknav_menu .slicknav_nav ul li:hover, .slicknav_menu .slicknav_nav ul li:active, .slicknav_menu .slicknav_nav ul li:focus {
          background-color: rgba(255, 255, 255, 0.3);
          cursor: pointer; }
  .dropMenu {
    left: 0 !important;
    z-index: 2; }
  .menuLateral {
    display: none !important; }
  .tabelaPedidos {
    display: none !important; }
  .pedidosMobile {
    display: block !important;
    height: 380px; }
    .pedidosMobile ul {
      height: 100%; }
      .pedidosMobile ul li ul li h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 1.2em;
        color: #3f3f3f;
        font-weight: 700;
        padding-bottom: 15px; }
      .pedidosMobile ul li ul li p {
        width: 90%;
        white-space: normal;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        color: #3f3f3f;
        font-weight: 400; }
      .pedidosMobile ul li ul li img {
        height: 200px; }
      .pedidosMobile ul .arrow {
        z-index: 9;
        position: absolute;
        bottom: 0px;
        float: right;
        left: 35%; }
        .pedidosMobile ul .arrow p {
          font-family: 'Raleway', sans-serif;
          font-size: 0.8em;
          color: #3f3f3f;
          font-weight: 400;
          color: #3f3f3f;
          display: inline-block;
          width: 150px;
          margin-bottom: 15px;
          padding-right: 20px; }
        .pedidosMobile ul .arrow i {
          font-size: 2em;
          color: #3f3f3f;
          position: absolute;
          bottom: 5px; }
  .enderecoPrincipal ul {
    padding-right: 10px; }
    .enderecoPrincipal ul li p {
      font-family: 'Raleway', sans-serif;
      font-size: 1.1em !important;
      color: #3f3f3f;
      font-weight: 700; }
    .enderecoPrincipal ul i {
      height: 150px !important;
      padding-top: 15px; }
  .enderecosSecundarios ul {
    margin-bottom: 15px; }
    .enderecosSecundarios ul li i {
      padding-top: 10px; } }

.slicknav_menu {
  display: none; }

.clear {
  clear: both; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative; }

.background-opacity {
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(28, 28, 28, 0.7);
  position: absolute;
  float: left;
  display: none; }

header {
  background-color: #007dc6;
  z-index: 0; }
  header .cart {
    float: right;
    background-color: #ffc220;
    text-align: center;
    padding: 1.35% 0 1.39% 0;
    border-bottom: 8px solid #CE8D05; }
    header .cart a {
      color: #ffffff;
      font-size: 3em; }

.wrapContainer {
  z-index: 0;
  background-color: transparent; }
  .wrapContainer .container-fluid, .wrapContainer .row {
    height: 100%; }
  .wrapContainer .content .itemVitrine {
    margin-top: 10px !important;
    margin-left: 1.5% !important; }
    .wrapContainer .content .itemVitrine .produto .tituloProduto {
      font-family: 'Raleway', sans-serif;
      font-size: 0.9em;
      color: #3f3f3f;
      font-weight: 700;
      color: #007dc6;
      min-height: 50px;
      padding-top: 20px; }
    .wrapContainer .content .itemVitrine .produto .precosProduto {
      border-top: 1px solid #c6c6c6; }
      .wrapContainer .content .itemVitrine .produto .precosProduto .precos {
        padding: 10px; }
        .wrapContainer .content .itemVitrine .produto .precosProduto .precos .precoAnterior {
          font-family: 'Raleway', sans-serif;
          font-size: 0.7em;
          color: #3f3f3f;
          font-weight: 300;
          text-align: left;
          text-decoration: line-through; }
        .wrapContainer .content .itemVitrine .produto .precosProduto .precos .precoAtualizado {
          font-family: 'Raleway', sans-serif;
          font-size: 1.2em;
          color: #3f3f3f;
          font-weight: 400;
          color: #3DB247;
          text-align: left;
          padding: 5px 0; }
        .wrapContainer .content .itemVitrine .produto .precosProduto .precos .formaPagamento {
          font-family: 'Raleway', sans-serif;
          font-size: 0.7em;
          color: #3f3f3f;
          font-weight: 300;
          text-align: left; }
      .wrapContainer .content .itemVitrine .produto .precosProduto .carrinho {
        background-color: #3DB247;
        float: right;
        right: 0;
        margin-top: -72px;
        cursor: pointer;
        display: none;
        border: 0; }
        .wrapContainer .content .itemVitrine .produto .precosProduto .carrinho i {
          color: #ffffff;
          font-size: 3em;
          padding: 15px; }
        .wrapContainer .content .itemVitrine .produto .precosProduto .carrinho:hover {
          background-color: #058e11;
          -webkit-transition: background-color ease 0.2s;
          transition: background-color ease 0.2s; }
      .wrapContainer .content .itemVitrine .produto .precosProduto:hover .carrinho {
        display: block;
        -webkit-transition: display ease 0.3s;
        transition: display ease 0.3s; }
    .wrapContainer .content .itemVitrine .produto .marcaProduto {
      font-family: 'Raleway', sans-serif;
      font-size: 0.8em;
      color: #3f3f3f;
      font-weight: 400;
      color: #007dc6;
      background-color: #c6c6c6;
      padding: 5px 0;
      display: none;
      margin-bottom: 0 !important;
      position: absolute; }
    .wrapContainer .content .itemVitrine .produto:hover {
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.54);
      -webkit-transition: box-shadow ease 0.2s;
      transition: box-shadow ease 0.2s; }
    .wrapContainer .content .itemVitrine:hover .marcaProduto {
      display: block; }

.menuLateral {
  height: 100%;
  background-color: #ffffff;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  display: none;
  z-index: 9999; }
  .menuLateral ul.topoCarrinhoMenu {
    border-bottom: 1px solid #c6c6c6; }
    .menuLateral ul.topoCarrinhoMenu .meuCarrinho {
      padding: 15px 10px; }
      .menuLateral ul.topoCarrinhoMenu .meuCarrinho span {
        font-family: 'Raleway', sans-serif;
        font-size: 0.9em;
        color: #3f3f3f;
        font-weight: 700; }
    .menuLateral ul.topoCarrinhoMenu .carrinhoMenu {
      float: right;
      padding-right: 0;
      margin-right: 0;
      margin-top: 0;
      background-color: #ffc220;
      margin-bottom: 0;
      padding-bottom: 0; }
      .menuLateral ul.topoCarrinhoMenu .carrinhoMenu i {
        float: right;
        font-size: 1.5em;
        color: #ffffff;
        padding: 12px 40% 25% 48%;
        text-align: center;
        border-bottom: 3px solid #CE8D05; }
      .menuLateral ul.topoCarrinhoMenu .carrinhoMenu .itensQtde {
        position: absolute;
        float: right;
        right: 0;
        background-color: #F00;
        font-family: 'Raleway', sans-serif;
        font-size: 0.7em;
        color: #3f3f3f;
        font-weight: 700;
        color: #ffffff;
        padding: 3px 6px; }
  .menuLateral .produtoCarrinho {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important; }
    .menuLateral .produtoCarrinho ul li {
      display: inline-block;
      float: left; }
    .menuLateral .produtoCarrinho .imgProdutoSelecionado {
      padding-left: 10px !important; }
      .menuLateral .produtoCarrinho .imgProdutoSelecionado img {
        width: 90%; }
    .menuLateral .produtoCarrinho .descProduto {
      padding-top: 10px;
      min-width: 161px; }
      .menuLateral .produtoCarrinho .descProduto .nomeProduto {
        font-family: 'Raleway', sans-serif;
        font-size: 0.9em;
        color: #3f3f3f;
        font-weight: 300;
        color: #007dc6; }
      .menuLateral .produtoCarrinho .descProduto .quantidadeProdutoCarrinho {
        padding-top: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 0.8em;
        color: #3f3f3f;
        font-weight: 300; }
    .menuLateral .produtoCarrinho .excluirProdutoCarrinho {
      padding-top: 25px;
      padding-left: 5px; }
      .menuLateral .produtoCarrinho .excluirProdutoCarrinho button {
        color: #F00;
        border: none;
        background: transparent;
        cursor: pointer; }
  .menuLateral .footerMenu {
    bottom: 0;
    position: absolute;
    background-color: #f2efef;
    padding: 20px 0; }
    .menuLateral .footerMenu .botaoFinalizar {
      text-align: center; }
      .menuLateral .footerMenu .botaoFinalizar button {
        border: none;
        background-color: #3DB247;
        padding: 15px 30px;
        border-radius: 5px;
        border-bottom: solid 3px #058e11;
        cursor: pointer; }
        .menuLateral .footerMenu .botaoFinalizar button span {
          font-family: 'Raleway', sans-serif;
          font-size: 1.3em;
          color: #3f3f3f;
          font-weight: 700;
          color: #ffffff; }
        .menuLateral .footerMenu .botaoFinalizar button i {
          font-size: 1.9em;
          color: #ffffff;
          padding-right: 10px; }
