
$azul: #007dc6;
$amarelo: #ffc220;
$amareloEscuro: #CE8D05;
$branco: #ffffff;
$cinza: #3f3f3f;
$cinzaClaro: #c6c6c6;
$break-small: 40em;
$verde: #3DB247;



@mixin fontLightMX($fontSize){
    font-family: 'Raleway', sans-serif;
    font-size: $fontSize;
    color: $cinza;
    font-weight: 300;
}

@mixin fontPadraoMX($fontSize){
    font-family: 'Raleway', sans-serif;
    font-size: $fontSize;
    color: $cinza;
    font-weight: 400;
}

@mixin fontBoldMX($fontSize){
    font-family: 'Raleway', sans-serif;
    font-size: $fontSize;
    color: $cinza;
    font-weight: 700;
}

@mixin transitionMX($propriedade, $tempo){
    transition: $propriedade, $tempo;
}

@media screen and (min-width:1280px) and (max-width:1440px){
}
@media screen and (max-width: $break-small){
    .slicknav_menu{
        display: block!important;
        background-color: $azul;
        & .slicknav_btn{
            background-color: #00588c;
            left: 43%;
            float: left;
        }
        & .slicknav_nav{
            & ul{
                padding-left: 0;
                margin-left: 0;
                & li{
                    padding: 10px;
                    padding-left: 0;
                    background-color: transparent;
                    @include transitionMX(background-color, 0.2s);
                    & a{
                        @include fontBoldMX(1.1em);
                        letter-spacing: 2px;
                        color: $branco;
                        text-transform: uppercase;
                        & i{
                            margin-right: 10px;
                            width: 40px;
                            color: $amarelo;
                            font-size: 1.3em;
                        }
                        &:hover, &:active, &:focus{
                            text-decoration: none;
                            background-color: transparent;
                        }
                    }
                    &:hover, &:active, &:focus{
                        background-color: rgba(255,255,255,0.3);
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .dropMenu{
        left:0!important;
        z-index: 2;
    }
    .menuLateral{
        display: none!important;
    }
    .tabelaPedidos{
        display: none!important;
    }
    .pedidosMobile{
        display: block!important;
        height: 380px;
        & ul{
            height: 100%;
            & li{
                & ul{
                    & li{
                        & h2{
                            @include fontBoldMX(1.2em);
                            padding-bottom: 15px;
                        }
                        & p{
                            width: 90%;
                            white-space: normal;
                            @include fontPadraoMX(1em);
                        }
                        & img{
                            height: 200px;
                        }
                    }
                }
            }
            & .arrow{
                z-index:9;
                position: absolute;
                bottom: 0px;
                float: right;
                left: 35%;
                & p{
                    @include fontPadraoMX(0.8em);
                    color: $cinza;
                    display: inline-block;
                    width: 150px;
                    margin-bottom: 15px;
                    padding-right: 20px;
                }
                & i{
                    font-size: 2em;
                    color: $cinza;
                    position: absolute;
                    bottom: 5px;
                }
            }
        }
    }

    .enderecoPrincipal{
        & ul{
            padding-right: 10px;
            & li{
                & p{
                    font-family: 'Raleway', sans-serif;
                    font-size: 1.1em!important;
                    color: $cinza;
                    font-weight: 700;
                }
            }
            & i{
                height: 150px!important;
                padding-top: 15px
            }
        }
    }
    .enderecosSecundarios{
        & ul{
            margin-bottom: 15px;
            & li{
                & i{
                    padding-top: 10px;
                }
            }
        }
    }
}

.slicknav_menu{
    display: none;
}
.clear{
    clear:both;
}
html {height: 100%;}
body {
    margin:0; 
    padding:0; 
    height:100%; 
    position: relative;
}
.background-opacity{
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(28, 28, 28, 0.7);
    position: absolute;
    float: left;
    display: none;
}
header{
    background-color: $azul;
        z-index:0;
    & .cart{
        float: right;
        background-color: $amarelo;
        text-align: center;
        padding: 1.35% 0 1.39% 0;
        border-bottom: 8px solid $amareloEscuro;
        & a{
            color: $branco;
            font-size: 3em;
        }
    }
}

.wrapContainer{
        z-index:0;
        background-color: transparent;
    & .container-fluid, & .row{
        height: 100%;
    }
    & .content{
        & .itemVitrine{
            margin-top: 10px!important;
            margin-left: 1.5%!important;
            & .produto{          
                & .tituloProduto{
                    @include fontBoldMX(0.9em);
                    color: $azul;
                    min-height: 50px;
                    padding-top: 20px;
                }
                & .precosProduto{
                    border-top: 1px solid $cinzaClaro;
                    & .precos{   
                        padding: 10px;                 
                        & .precoAnterior{
                            @include fontLightMX(0.7em);
                            text-align: left;
                            text-decoration: line-through;
                        }
                        & .precoAtualizado{
                            @include fontPadraoMX(1.2em);
                            color: $verde;
                            text-align: left;
                            padding: 5px 0;
                        }
                        & .formaPagamento{
                            @include fontLightMX(0.7em);
                            text-align: left;                    
                        }
                    } 
                    & .carrinho{
                        background-color: $verde;    
                        float: right;
                        right: 0;
                        margin-top: -72px;
                        cursor: pointer;
                        display: none;
                        border:0;
                        & i{
                            color: $branco;    
                            font-size: 3em;
                            padding: 15px;
                        }
                        &:hover{
                            background-color: #058e11; 
                            transition: background-color ease 0.2s; 
                        }
                    }
                    &:hover{
                        & .carrinho {
                            display:block; 
                            transition: display ease 0.3s;   
                        }
                    }
                }
                & .marcaProduto{
                    @include fontPadraoMX(0.8em);
                    color: $azul;
                    background-color: $cinzaClaro;
                    padding: 5px 0;
                    display: none;
                    margin-bottom: 0!important;
                    position: absolute;
                }
                &:hover{
                    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.54);
                    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.54);
                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.54);
                    transition: box-shadow ease 0.2s;
                }
            }
            &:hover{
                & .marcaProduto{
                    display:block;
                }
            }
        }
    }
}

.menuLateral{
    height: 100%;
    background-color: $branco;
    float: right;
    position: absolute;
    right: 0;
    top:0;
    margin:0;
    display: none;
    z-index:9999;
    & ul.topoCarrinhoMenu{
        border-bottom: 1px solid $cinzaClaro;
        & .meuCarrinho{
            padding: 15px 10px;
            & span{
                @include fontBoldMX(0.9em);
            }
        }
        & .carrinhoMenu{
                float: right;
                padding-right:0;
                margin-right: 0;
                margin-top:0;
                background-color: $amarelo;
                margin-bottom: 0;
                padding-bottom: 0;
            & i{
                float: right;
                font-size: 1.5em;
                color: $branco;
                padding: 12px 40% 25% 48%;
                text-align: center;
                border-bottom: 3px solid $amareloEscuro;
            }
            & .itensQtde{
                position: absolute;
                float:right;
                right: 0;
                background-color: #F00;
                @include fontBoldMX(0.7em);
                color: $branco;
                padding:3px 6px;
            }
        }
    }
    & .produtoCarrinho{
        padding-right:0!important;
        padding-left:0!important;
        margin-left:0!important;
        & ul{
            & li{
                display: inline-block;
                float: left; 
            }
        }
        & .imgProdutoSelecionado{
            padding-left:10px!important;
            & img{
                width: 90%;
            }
        }
        & .descProduto{
            padding-top: 10px;
            min-width: 161px;
            & .nomeProduto{
                @include fontLightMX(0.9em);
                color: $azul;            
            }
            & .quantidadeProdutoCarrinho{
                padding-top: 10px;
                @include fontLightMX(0.8em);
            }
        }
        & .excluirProdutoCarrinho{
            padding-top: 25px;
            padding-left: 5px;
            & button{
                color: #F00;
                border: none;
                background: transparent;
                cursor: pointer;
            }
        }
    }
    & .footerMenu{
        bottom: 0;
        position: absolute;
        background-color: #f2efef;
        padding: 20px 0;
        & .botaoFinalizar{
            text-align: center;
            & button{
                border: none;
                background-color: $verde;
                padding: 15px 30px;
                border-radius: 5px;
                border-bottom: solid 3px #058e11;
                cursor: pointer;
                & span{                    
                    @include fontBoldMX(1.3em);
                    color: $branco;
                }
                & i{                    
                    font-size:  1.9em;
                    color: $branco;
                    padding-right: 10px;
                }
            }
        }
    }
}

