<ul>
    <li class="itemVitrine col span_3_of_10" style="text-align:center" ng-repeat="produto in listaProdutos">
        <div class="produto">
            <ul>
                <li class="tituloProduto">
                    <h2>{{produto.title}}</h2>
                </li>
                <li class="imagemProduto">
                    <img ng-src="{{produto.image}}">
                </li>
                <li id="rankProduto1" data-ranking={{contadorRanking}}>
                    
                </li>
                <li class="precosProduto">
                    <ul class="precos">
                        <li class="precoAnterior">
                            <span>
                                {{produto.currency}} {{produto.listPrice}}
                            </span>
                        </li>
                        <li class="precoAtualizado">
                            <span>
                                {{produto.currency}} {{produto.price}}
                            </span>
                        </li>
                        <li class="formaPagamento">
                            <span>
                                {{produto.installments.installmentAmount}}x de {{produto.installments.currency}} {{produto.installments.valuePerInstallment}} sem juros
                            </span>
                        </li>
                    </ul>
                    <button class="carrinho" ng-click="addCarrinho($event)">
                        <i class="fa fa-cart-plus" data-imgProduto="{{produto.image}}" data-idProduto="{{produto.id}}" data-nomeProduto={{produto.title}}></i>
                    </button>
                </li>
                <li class="clear"></li>
                <li class="marcaProduto span_3_of_10">
                    <span>+ {{produto.brand}}</span>
                </li>
            </ul>
        </div>
    </li>
</ul>