<!DOCTYPE html>
<html ng-app="Main">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Teste Verotthi</title>

        <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,700">
        <link rel="stylesheet" href="css/slicknav.min.css">
        <link rel="stylesheet" href="css/reset.css">
        
        
        <link rel="stylesheet" href="css/html5reset.css" media="all">
        <link rel="stylesheet" href="css/col.css" media="all">
        <link rel="stylesheet" href="css/2cols.css" media="all">
        <link rel="stylesheet" href="css/3cols.css" media="all">
        <link rel="stylesheet" href="css/4cols.css" media="all">
        <link rel="stylesheet" href="css/5cols.css" media="all">
        <link rel="stylesheet" href="css/6cols.css" media="all">
        <link rel="stylesheet" href="css/7cols.css" media="all">
        <link rel="stylesheet" href="css/8cols.css" media="all">
        <link rel="stylesheet" href="css/9cols.css" media="all">
        <link rel="stylesheet" href="css/10cols.css" media="all">
        <link rel="stylesheet" href="css/11cols.css" media="all">
        <link rel="stylesheet" href="css/12cols.css" media="all">
        <!--build:css-->
        <link rel="stylesheet" href="css/style.css">
        <!--endbuild-->
        <style> 
	       .col {padding: 0 1em;}
        </style>
    </head>

    <body>
        <div id="opacity" class="background-opacity"></div>
        <header>
            <div class="section group">
                <div class="logo col span_1_of_5">
                    <a href="#/">
                        <img src="img/logo_white.png" class="col span_3_of_4">
                    </a>
                </div>
                <div class="cart span_1_of_12">
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </header>

        <section class="wrapContainer">
            <div class="section group">
                <section class="content span_11_of_11">
                    <ng-view></ng-view>
                </section>
            </div>
        </section>

        <div class="section group">
            <aside class="menuLateral span_1_of_4">
                <ul class="topoCarrinhoMenu section group">
                    <li class="meuCarrinho col span_1_of_1">
                        <span>Meu carrinho ({{quantidadeCarrinho}})</span>
                    </li>
                    <li class="carrinhoMenu col span_2_of_12">
                        <span class="itensQtde">{{quantidadeCarrinho}}</span>
                        <i class="fa fa-shopping-cart"></i>
                    </li>
                </ul>
                <nav>
                    <ul ng-controller="ProdutosController">
                        <li class="produtoCarrinho col span_10_of_10" id="{{prodCart.idProduto}}" ng-repeat="prodCart in produtosCarrinho track by $index">
                            <ul>
                                <li class="imgProdutoSelecionado span_3_of_12" >
                                    <img ng-src="{{prodCart.imgProduto}}">
                                </li>
                                <li class="descProduto">
                                    <span class="nomeProduto">{{prodCart.nomeProduto}}</span>
                                    <p class="quantidadeProdutoCarrinho">Quantidade: {{prodCart.qtdProduto}}</p>
                                </li>
                                <li class="excluirProdutoCarrinho">
                                    <button class="delete" ng-click="removeDiv($event);">
                                        <i class="fa fa-times" data-id="{{prodCart.idProduto}}"></i>
                                    </button>                                    
                                </li>
                            </ul>
                        </li>
                        <li class="clear"></li>
                    </ul>
                </nav>
                <ul class="footerMenu span_6_of_6">
                    <li class="botaoFinalizar">
                        <button ng-click="finalizarCompra()">
                            <i class="fa fa-cart-arrow-down"></i>
                            <span>Finalizar Compra</span>
                        </button>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="clearfix"></div>

        <footer>
            <script src="vendor/angular/angular.min.js"></script>
            <script src="vendor/angular-route/angular-route.min.js"></script>
            <script src="vendor/angular-resource/angular-resource.min.js"></script>
            <script src="vendor/jquery/dist/jquery.min.js"></script>
            <script src="vendor/underscore/underscore-min.js"></script>
            <script src="js/jquery.slicknav.min.js"></script>
            <script src="js/main.js"></script>
            <script src="js/geral.js"></script>
            <script src="js/controllers/ProdutosController.js"></script>
        </footer>
    </body>
</html>
